In [23]:
import json
fd=open("record.json",'r')
r=fd.read()
fd.close()

In [24]:
record=json.loads(r)

In [25]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [26]:
list1=[]
for i in record.keys():
  list1.append(i)
print(list1)

['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009']

In [27]:
for j in list1:
  print(j,record[j])
  ma=str(input("Enter manufacturing date:"))
  ex=str(input("Enter expiry date:"))
  wa=int(input("Enter warranty in months:"))
  record[j]['ma']=ma
  record[j]['ex']=ex
  record[j]['wa']=wa
print(record)

1001 {'name': 'Choco Cake', 'qn': 34, 'pr': 100}
Enter manufacturing date:12-8-2021
Enter expiry date:12-9-2021
Enter warranty in months:0
1002 {'name': 'Milk Cake', 'pr': 800, 'qn': 100}
Enter manufacturing date:13-8-2021
Enter expiry date:12-9-2021
Enter warranty in months:0
1003 {'name': 'Drink', 'pr': 85, 'qn': 100}
Enter manufacturing date:21-6-2021
Enter expiry date:12-9-2022
Enter warranty in months:0
1004 {'name': 'Candy', 'pr': 5, 'qn': 1000}
Enter manufacturing date:13-3-2021
Enter expiry date:15-6-2022
Enter warranty in months:0
1005 {'name': 'Pen', 'pr': 20, 'qn': 100}
Enter manufacturing date:13-7-2021
Enter expiry date:No
Enter warranty in months:3
1006 {'name': 'Phone', 'pr': 50000, 'qn': 10}
Enter manufacturing date:16-8-2021
Enter expiry date:No
Enter warranty in months:24
1007 {'name': 'Mic', 'pr': 1500, 'qn': 0}
Enter manufacturing date:16-6-2021
Enter expiry date:No
Enter warranty in months:12
1008 {'name': 'Case', 'pr': 599, 'qn': 5}
Enter manufacturing date:22-3-2021
Enter expiry date:No
Enter warranty in months:6
1009 {'name': 'Keyboard', 'pr': 1999, 'qn': 10}
Enter manufacturing date:12-5-2021
Enter expiry date:No
Enter warranty in months:9
{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100, 'ma': '12-8-2021', 'ex': '12-9-2021', 'wa': 0}, '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100, 'ma': '13-8-2021', 'ex': '12-9-2021', 'wa': 0}, '1003': {'name': 'Drink', 'pr': 85, 'qn': 100, 'ma': '21-6-2021', 'ex': '12-9-2022', 'wa': 0}, '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000, 'ma': '13-3-2021', 'ex': '15-6-2022', 'wa': 0}, '1005': {'name': 'Pen', 'pr': 20, 'qn': 100, 'ma': '13-7-2021', 'ex': 'No', 'wa': 3}, '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10, 'ma': '16-8-2021', 'ex': 'No', 'wa': 24}, '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0, 'ma': '16-6-2021', 'ex': 'No', 'wa': 12}, '1008': {'name': 'Case', 'pr': 599, 'qn': 5, 'ma': '22-3-2021', 'ex': 'No', 'wa': 6}, '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10, 'ma': '12-5-2021', 'ex': 'No', 'wa': 9}}

##Adding new products to the inventory

In [ ]:
prod_id=str(input("Enter product id:"))
for k in list1:
  if k==prod_id:
    print("Item already exists and its details are:")
    print('id',k)
    print('name',record[k]['name'])
    print('existing quantity',record[k]['qn'])
    print('price',record[k]['pr'])
    print('manufacturing date',record[k]['ma'])
    print('expiry date',record[k]['ex'])
    print('warranty',record[k]['wa'])
    record[k]['qn']=int(input("Enter quantity to add to the inventory:"))+record[k]['qn']
name=str(input('Enter name:'))
quant=int(input("Enter quantity:"))
price=int(input("Enter price:"))
man=str(input("Enter manufacturing date:"))
exp=str(input("Enter expiry date:"))
warr=int(input("Enter warranty in months:"))
record[prod_id]={'name':name,'qn':quant,'pr':price,'ma':man,'ex':exp,'wa':warr}
print(record)

In [60]:
print(record)

{'1001': {'name': 'Choco Cake', 'qn': 66, 'pr': 100, 'ma': '12-8-2021', 'ex': '12-9-2021', 'wa': 0}, '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100, 'ma': '13-8-2021', 'ex': '12-9-2021', 'wa': 0}, '1003': {'name': 'Drink', 'pr': 85, 'qn': 100, 'ma': '21-6-2021', 'ex': '12-9-2022', 'wa': 0}, '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000, 'ma': '13-3-2021', 'ex': '15-6-2022', 'wa': 0}, '1005': {'name': 'Pen', 'pr': 20, 'qn': 100, 'ma': '13-7-2021', 'ex': 'No', 'wa': 3}, '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10, 'ma': '16-8-2021', 'ex': 'No', 'wa': 24}, '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0, 'ma': '16-6-2021', 'ex': 'No', 'wa': 12}, '1008': {'name': 'Case', 'pr': 599, 'qn': 5, 'ma': '22-3-2021', 'ex': 'No', 'wa': 6}, '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10, 'ma': '12-5-2021', 'ex': 'No', 'wa': 9}, '1010': {'name': 'Calculator', 'qn': 98, 'pr': 800, 'ma': '12-8-2021', 'ex': 'No', 'wa': 36}, '1011': {'name': 'mouse', 'qn': 30, 'pr': 250, 'ma': '12-8-2021', 'ex': 'No', 'wa': 2}, '1012': {'name': 'Books', 'qn': 40, 'pr': 30, 'ma': '16-7-2021', 'ex': 'No', 'wa': 0}, '1013': {'name': 'Laptop', 'qn': 60, 'pr': 50000, 'ma': '17-6-2021', 'ex': 'No', 'wa': 24}, '1014': {'name': 'Bottle', 'qn': 25, 'pr': 50, 'ma': '28-3-2021', 'ex': 'No', 'wa': 0}, '1015': {'name': 'Samosa', 'qn': 100, 'pr': 10, 'ma': '6-9-2021', 'ex': '8-9-2021', 'wa': 0}, '1016': {'name': 'Jam', 'qn': 15, 'pr': 60, 'ma': '6-9-2021', 'ex': '8-9-2021', 'wa': 0}, 'Pineapple': {'name': 'Pineapple', 'qn': 20, 'pr': 25, 'ma': 'No', 'ex': 'No', 'wa': 0}, '1018': {'name': 'Charger', 'qn': 50, 'pr': 100, 'ma': '2-6-2021', 'ex': 'No', 'wa': 0}, 'Scale': {'name': 'Scale', 'qn': 70, 'pr': 5, 'ma': '3-7-2021', 'ex': 'No', 'wa': 0}, '1020': {'name': 'Eraser', 'qn': 200, 'pr': 7, 'ma': '2-1-2021', 'ex': 'No', 'wa': 0}, '1021': {'name': 'Sharpner', 'qn': 200, 'pr': 7, 'ma': '2-1-2021', 'ex': 'No', 'wa': 0}, '1022': {'name': 'Tshirt', 'qn': 125, 'pr': 120, 'ma': '13-3-2021', 'ex': 'No', 'wa': 0}, '1023': {'name': 'Umbrella', 'qn': 95, 'pr': 350, 'ma': '13-4-2021', 'ex': 'No', 'wa': 0}, '1024': {'name': 'Raincoat', 'qn': 35, 'pr': 500, 'ma': '12-6-2021', 'ex': 'No', 'wa': 3}, '1025': {'name': 'Study Table', 'qn': 8, 'pr': 1000, 'ma': '14-5-2021', 'ex': 'No', 'wa': 0}, '1026': {'name': 'Tube Light', 'qn': 26, 'pr': 700, 'ma': '5-5-2021', 'ex': 'No', 'wa': 2}, 'TV': {'name': 'TV', 'qn': 20, 'pr': 25000, 'ma': '3-3-2021', 'ex': 'No', 'wa': 6}, '1028': {'name': 'AC', 'qn': 2, 'pr': 40000, 'ma': '5-6-2021', 'ex': 'No', 'wa': 24}, '1029': {'name': 'Pizza', 'qn': 8, 'pr': 70, 'ma': '6-9-2021', 'ex': '8-9-2021', 'wa': 0}, '1030': {'name': 'Burger', 'qn': 12, 'pr': 50, 'ma': '6-9-2021', 'ex': '8-9-2021', 'wa': 0}, '1031': {'name': 'Hometheatre', 'qn': 45, 'pr': 5000, 'ma': '12-4-2021', 'ex': 'No', 'wa': 5}, '1032': {'name': 'Phonescreen', 'qn': 40, 'pr': 200, 'ma': '12-5-2021', 'ex': 'No', 'wa': 0}, '1033': {'name': 'Guitar', 'qn': 5, 'pr': 10000, 'ma': '13-6-2021', 'ex': 'No', 'wa': 15}}

In [61]:
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()